<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Access denied</title>
</head>

<body>
<div class="container">
    <img src="/img/error.png" />

    <form method="get" class="form-container">

        <h1 class="padding_text" th:text="#{access.denied}" >Access to note denied</h1>

        <button type="button" class="btn btn-primary access_button_back" th:text="#{back}"
                th:onclick="|window.location.href='@{/note/list}'|">To the note list</button>

    </form>
</div>
</body>
</html>