<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Note</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <img class="img_size scalable" src="/img/edit.png" />

    <h1 th:text="#{edit.note}" class="edit_name scalable_element">Edit Note</h1>

    <form action="/note/edit" method="post" th:object="${note}" class="form_edit">
        <input class="scalable_element" type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="title" th:text="#{note.name}" class="font_x_large scalable_element">Title</label>
            <input type="text" id="title" name="title" th:field="*{title}" class="form-control edit_text_color scalable_element" required>
        </div>

        <div class="form-group">
            <label for="content" th:text="#{note.text}" class="font_x_large bold-text scalable_element">Content</label>
            <textarea id="content" name="content" th:field="*{content}" class="form-control edit_textarea_color scalable_element" rows="7" required></textarea>
        </div>

        <div class="form-group d-flex align-items-center justify-content-between">
            <div class="form-check form-check-inline">
                <div class="form-check form-check-inline">
                    <input class="form-check-input scalable_element" type="radio" id="public" name="accessType" value="PUBLIC" th:checked="${note.accessType.name() == 'PUBLIC'}">
                    <label class="form-check-label public_color scalable_element" for="public" th:text="#{public}">Public</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input scalable_element" type="radio" id="private" name="accessType" value="PRIVATE" th:checked="${note.accessType.name() == 'PRIVATE'}">
                    <label class="form-check-label privat_color scalable_element" for="private" th:text="#{private}">Private</label>
                </div>
            </div>
            <div class="d-flex align-items-center ml-3">
                <label for="color" th:text="#{color}" class="form-check-label privat_color scalable_element position">Color</label>
                <input type="color" id="color" name="color" th:field="*{color}" class="form-control color-picker scalable_element color_width" />
            </div>
        </div>
        <div class="button-container">
            <button type="submit" class="btn btn-outline-success scalable_element" th:text="#{save}">Save</button>
            <button type="button" class="btn btn-outline-danger scalable_element"
                    th:onclick="|window.location.href='@{/note/list}'|" th:text="#{back}">Cancel</button>
        </div>
    </form>
    <br>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
