<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Note</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <img class="img_size" src="/img/edit.png" />

    <h1 th:text="#{edit.note}" class="edit_name">Edit Note</h1>

    <form action="/note/edit" method="post" th:object="${note}" class="form_edit">
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="title" th:text="#{note.name}" class="font_x_large">Title</label>
            <input type="text" id="title" name="title" th:field="*{title}" class="form-control edit_text_color" required>
        </div>

        <div class="form-group">
            <label for="content" th:text="#{note.text}" class="font_x_large bold-text">Content</label>
            <textarea id="content" name="content" th:field="*{content}" class="form-control edit_textarea_color" rows="7" required></textarea>
        </div>

        <div class="button-container">
            <button type="submit" class="btn btn-outline-success" th:text="#{save}">Save</button>
            <button type="button" class="btn btn-outline-danger"
                    th:onclick="|window.location.href='@{/note/list}'|" th:text="#{back}">Cancel</button>
        </div>
    </form>
    <br>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
