<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note Not Found</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <img class="scalable" src="/img/error.png" />

    <h1 th:text="#{not.found}" class="padding_text scalable_element">Нотатка не знайдена</h1>

    <p th:text="#{error.msg}" class="scalable_element">Ця нотатка може бути приватною або не існувати.</p>

    <a href="/note/list" class="btn btn-primary not_found_butt scalable_element" th:text="#{back}">Повернутись до списку нотаток</a>
</div>
</body>
</html>