<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <img class="scalable" src="/img/error.png" />

    <form method="get" class="form-container scalable" >
        <fieldset disabled>
            <textarea class="form-control found_note_text" id="textArea" name="textArea" rows="1" th:text="#{not.found}">Note not found</textarea>
        </fieldset>
        <div class="button-container">
        <button type="button" th:text="#{back}" class="btn btn-outline-primary" th:onclick="|window.location.href='@{/note/list}'|">До списку нотаток</button>
        </div>
    </form>
</div>
</body>
</html>