<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <img class="found_note_space" src="/img/welcome.png"/>

    <form th:action="@{/register}" th:method="post" class="mx-auto form_login">
        <p th:text="${error}" class="error_red"></p>
        <h1 th:text="#{registration}" class="text-center reg_text">Реєстрація</h1>

        <div class="form-group">
            <label th:text="#{login}" for="username">Логін</label>
            <input type="text" class="form-control reg_color_text" id="username" name="username" th:value="${user.username}"
                   th:placeholder="#{login.text}" required />
            <label th:text="#{password}" for="password">Пароль</label>
            <input type="password" class="form-control reg_text_color" id="password" name="password" th:value="${user.password}"
                   th:placeholder="#{password.text}" required />
        </div>

        <button type="submit" class="btn btn-outline-success w-100 login_set" th:text="#{register}">Заєреструватись</button>
        <a href="/login" class="btn btn-outline-primary w-100 login_set" th:text="#{back.word}">Назад</a>

    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>